
.title-palestras{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 2;

}
.cards-palestrantes{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 35px;
  justify-content: space-around;
  padding: 70px 0px 150px 30px;
   
    
}
.card-container {
  width: 250px;
  height: 350px;
  position: relative;
  border-radius: 10px;
  box-shadow: 5px 10px 20px #322146;
    overflow: hidden;
}



.card .front-content{
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;

}

.card .palestrante {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  pointer-events: none;
}

.card .nome-palestrante {
  font-size: 26px;
  width: 250px;
  display: flex;
  font-weight: 700;
  opacity: 1;
  color: #e8e8e8;
  background-color: #9711ff;
  position: absolute;
  bottom: 0;
  right: 0;  
  z-index: 2;
  padding: 5px 15px;
  justify-content: center;

  
}
.card .info-palestrante{
  font-size: 18px;
  top: 90%;
  left: 55%;
  width: 220px;
  display: flex;
  flex-wrap: wrap;
  color: #e8e8e8;
  background-color: #9711ff;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
  position: absolute;
  padding: 5px;
  transform: translate(-50%, -50%);
  z-index: 2;
}
.card .content h1{
  font-size: 20px;
  font-weight: 900;
  
  position: absolute;
  top:  0px;
  color: var(--color-primary-1);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  z-index: 9;
  background-color: var(--color-neutral-1);
}
.card {
  width: 100%;
  height: 100%;
  border-radius: inherit;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card .content {
  position: absolute;
   
  width: 0%;
  height: 0%;
  overflow: hidden;
   
  transition: .2s;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 10px;
  /* background: linear-gradient(-45deg, #38016365 0%, #67017734 70%), */
  /* linear-gradient(45deg, #63010181 0%, #67017754 70%); */
  /* backdrop-filter: blur(15px); */
  color: #e8e8e8; 
  line-height: 1.5;
  border-radius: 5px;
  pointer-events: none;
   
  transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
  z-index: 3;
}

.card .content .titulo-palestra {
  font-size: 20px;
  font-weight: 700;
}

.card:hover .content {
  height: 100%;
  width: 100%;
  backdrop-filter: blur(5px);
  background-color: rgba(0, 0, 0, 0.274);
  /* transform: translateY(0); */
}

.card:hover .front-content {
  /* transform: translateX(-30%); */
}

.card:hover .front-content p {
  /* opacity: 0; */
}
.blocoFundo{
  position: absolute; 
  height:250px;
  width: 250px; 
  background-color: rgba(0, 0, 0, 0);
}
.blocoFundo.active{
  
  backdrop-filter: blur(20px);
}
.titulo-palestra2{
  z-index: 9;
  font-size: 20px;
  font-weight: 700;
}
.ver_palestra{
  position: relative;
  padding: 10px;
  border-radius: 10px 20px;
  border: 2px solid var(--color-primary-1);
  position: absolute;
  bottom: 50px;
  z-index: 9;
  overflow: hidden;
}

/* .bubble{
  height: 300px;
  
  width: 300px;
  background-color: rebeccapurple;
  position: absolute;
  left: 40%;
  border-radius: 100%;
  transition: 5s linear; 
  top: 0; 
  animation: movingBubble 2s infinite alternate-reverse  ;
}

@keyframes movingBubble {
  0% {
    transform: translate(10%, 30%) scale(2);
  }
  20% {
    transform: translate(0%, 30%) scale(1.2);
  }
  40% {
    transform: translate(-50%, 70%) scale(1.4);
  }
  60% {
    transform: translate(70%, -80%) scale(1);
  }
  80% {
    transform: translate(90%, 70%) scale(1);
  }
  100% {
    transform: translate(-20%, 10%) scale(1.4);
  }
} */





/* .area_palestras_cards{
  backdrop-filter: blur(200px); 
} */

#palestras{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0;
  margin-top: 30px;
  overflow: hidden ;
  position: relative; 
}

@media (max-width:550px) {

  .cards-palestrantes{
    padding: 0;
  }
}